
@{
    ViewBag.Title = "Page Two";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-100 mobile-grid-100 grid-parent vertical_flex" id="pageTwoBlock" data-speed="slowest">
    <span>Click to fade out</span>
</div>
