<div class="grid-100 mobile-grid-100 footer_links">
    <a class="grid-25 mobile-grid-100">Footer Link 1</a>
    <a class="grid-25 mobile-grid-100">Footer Link 2</a>
    <a class="grid-25 mobile-grid-100">Footer Link 3</a>
    <a class="grid-25 mobile-grid-100">Footer Link 4</a>
</div>

