<div class="grid-100 mobile-grid-100 grid-parent top">
    <div class="grid-100 mobile-grid-100 grid-parent logo">
        <a href="@Url.Action("Index", "Home")">
            <img src="@Url.Content("~/Public/images/temp_logo.png")" alt="Logo Image"/>
        </a>
    </div>
</div>