
<div id="demos">
    <nav>
        <div class="linkset linkset_1">
            <a data-remodal-target="linkOneModal">Link 1</a>
            <a data-remodal-target="linkTwoModal">Link 2</a>
            <a data-remodal-target="linkThreeModal">Link 3</a>
            <a data-remodal-target="linkFourModal">Link 4</a>
            <a data-remodal-target="linkFiveModal">Link 5</a>
        </div>
    </nav>
</div>



<!-- Modals -->
<div class="remodal" data-remodal-id="linkOneModal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <span>I am the contents of Modal #1</span>
    <a class="page_link" href="@Url.Action("PageTwo", "Home")">Page Two</a>
</div>

<div class="remodal" data-remodal-id="linkTwoModal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <span>I am the contents of Modal #2</span>
    <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>

<div class="remodal" data-remodal-id="linkThreeModal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <span>I am the contents of Modal #3</span>
    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
    <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>

<div class="remodal" data-remodal-id="linkFourModal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <span>I am the contents of Modal #4</span>
</div>

<div class="remodal" data-remodal-id="linkFiveModal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <span>I am the contents of Modal #5</span>
    <img src="@Url.Content("~/Public/images/bg.jpg")" />
</div>